/* Đặt trong OrderHistoryPage.css */
table .label {
    font-weight: bold !important;
    color: red !important;
    background-color: #b4aaaa2c !important;
    text-transform: uppercase;
    padding: 12px 8px;
}
