.custom-footer {
    background-color: #f9f9f9;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    color: #333;

}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    border-top: #ddd 1px solid;
    padding-top: 50px;
}

.footer-section {
    flex: 1 1 300px;
}

.footer-logo {
    width: 150px;
    margin-bottom: 16px;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: bold;
}

.footer-description {
    margin-bottom: 16px;
}

.footer-contact-info p {
    margin: 4px 0;
}

.footer-link-list {
    list-style: none;
    padding: 0;
}

.footer-link-list li {
    margin-bottom: 8px;
}

.footer-link-list a {
    color: #333;
    text-decoration: none;
}

.footer-link-list a:hover {
    text-decoration: underline;
}

.social-icons a {
    margin-right: 12px;
    color: #555;
    font-size: 20px;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    border-top: 1px solid #ddd;
    margin-top: 30px;
}